# openpyxl basics

In [ ]:
# Openpyxl doesnt support .xls .csv

In [2]:
# !pip install openpyxl
import openpyxl

In [3]:
# create a workbook
wb = openpyxl.Workbook()
sh1 = wb.active
sh1["A1"] ="Hello"
sh1["b1"] ="Everyone"
wb.save("xlSample.xlsx")

In [5]:
import os
# os.listdir()

# loading a workbook and reading an excel file

In [6]:
wkb = openpyxl.load_workbook("xlSample.xlsx")

In [8]:
sh = wb["Sheet"]
val = sh['A1'].value
val

'Hello'

In [10]:
# add new sheet
sh1 = wkb.create_sheet("Python")
sh1['A1'].value="Checking Python"
wkb.save("xlSample.xlsx")

In [13]:
wb = openpyxl.load_workbook("xlSample.xlsx")
ws = wb.active
ws

In [16]:
ws.title ="Sales"
ws.sheet_properties.tabColor ="222222"
# ws.title
wb.save("xlSample.xlsx")

In [17]:
## add data into worksheet
list_names=['James','Williams','Johans','Lila','Samantha']

for i in range(0, len(list_names)):
    ws["A"+str(i+1)].value = list_names[i]

In [18]:
# another way
for i in range(0, len(list_names)):
    ws.cell(row = i+1, column =2).value = list_names[i]
wb.save("xlSample.xlsx")

In [20]:
# read data from speadsheet

for col in ws['A']:
    print(col.value)

James
Williams
Johans
Lila
Samantha

In [21]:
for col in ws['B']:
    print(col.value)

James
Williams
Johans
Lila
Samantha

In [22]:
for col in ws["A":"B"]:
    print(col)

(<Cell 'Sales'.A1>, <Cell 'Sales'.A2>, <Cell 'Sales'.A3>, <Cell 'Sales'.A4>, <Cell 'Sales'.A5>)
(<Cell 'Sales'.B1>, <Cell 'Sales'.B2>, <Cell 'Sales'.B3>, <Cell 'Sales'.B4>, <Cell 'Sales'.B5>)

In [26]:
# following will show sheetname along with cell number
# for row in ws.iter_rows(min_row=1,max_row=5, min_col=1, max_col=2):
#     print(row)


# to get data : add one parameter : values_only = True
for row in ws.iter_rows(min_row=1,max_row=5, min_col=1, max_col=2, values_only=True):
    print(row)

('James', 'James')
('Williams', 'Williams')
('Johans', 'Johans')
('Lila', 'Lila')
('Samantha', 'Samantha')

In [28]:
# read in form of col
for col in ws.iter_cols(min_row=1,max_row=5, min_col=1, max_col=2, values_only=True):
    print(col)

('James', 'Williams', 'Johans', 'Lila', 'Samantha')
('James', 'Williams', 'Johans', 'Lila', 'Samantha')

In [29]:
import openpyxl as xl

In [31]:
filename ="Sample.xlsx"
# reading the file in read only mode : read_only
# ignore formulae while loading workbook : data_only

In [33]:
%%time
sales = xl.load_workbook(filename)

Wall time: 43.1 ms

In [34]:
## For large/huge files,read_only mode will be much faster
%%time
sales = xl.load_workbook(filename, read_only=True)

Wall time: 25 ms

In [35]:
sales.sheetnames

['Bill Smith',
 'Jaidyn Andersen',
 'Bryce Carpenter',
 'Arturo Moore',
 'Bruce Rich',
 'Jaylynn Knapp',
 'Bruno Cordova',
 'Denzel Flores',
 'Alia Thornton',
 'Franklin Wright',
 'Josue Roach',
 'Lucia Mckay',
 'Steven Michael',
 'Nora Rollins',
 'Kylee Townsend',
 'Jordan Boone',
 'Jonah Higgins',
 'Ivan Hines',
 'David Rasmussen',
 'Nyla Novak',
 'Harley Fritz',
 'Kennedi Singh',
 'Sales',
 'AllData']

In [36]:
# list all functions available for wb type object
print([i for i in dir(sales) if "_" not in i])

['active', 'calculation', 'chartsheets', 'close', 'encoding', 'epoch', 'index', 'path', 'properties', 'rels', 'remove', 'save', 'security', 'sheetnames', 'template', 'views', 'worksheets']

In [37]:
for sheet in sales:
    print(sheet.title)

Bill Smith
Jaidyn Andersen
Bryce Carpenter
Arturo Moore
Bruce Rich
Jaylynn Knapp
Bruno Cordova
Denzel Flores
Alia Thornton
Franklin Wright
Josue Roach
Lucia Mckay
Steven Michael
Nora Rollins
Kylee Townsend
Jordan Boone
Jonah Higgins
Ivan Hines
David Rasmussen
Nyla Novak
Harley Fritz
Kennedi Singh
Sales
AllData

In [39]:
# set an object 
s = sales['AllData']
type(s)

openpyxl.worksheet._read_only.ReadOnlyWorksheet

In [43]:
# print(s.cell.__doc__)
s.cell(1,4).value

'Sale Amount'

In [46]:
j=0
for row in s.values:
    j=j+1
    for value in row:
        print(value, end=" ")
    print("----------------")
    if j==5:
        break

Salesperson ID Number Date Sale Amount Commission Salesperson ----------------
Kennedi Singh 124300 2022-07-12 00:00:00 5436.33 =D2*0.2 Kennedi Singh ----------------
Harley Fritz =B2*1.2 2022-07-09 00:00:00 6197.4162 =D3*0.2 Harley Fritz ----------------
Nyla Novak =B3*1.02 2022-07-11 00:00:00 7065.054467999999 =D4*0.2 Nyla Novak ----------------
David Rasmussen =B4*0.8 2022-07-06 00:00:00 8054.162093519998 =D5*0.2 David Rasmussen ----------------

In [48]:
# inserting a sheet  # cant add sheet in read only mode
ws1 = sales.create_sheet("SalesData")  # insert sheet at the end

In [49]:
sales = xl.load_workbook(filename, data_only=True)

In [50]:
ws1 = sales.create_sheet("SalesData")
ws1.title

'SalesData'

In [53]:
sales.sheetnames

['Bill Smith',
 'SalesData1',
 'Jaidyn Andersen',
 'Bryce Carpenter',
 'Arturo Moore',
 'Bruce Rich',
 'Jaylynn Knapp',
 'Bruno Cordova',
 'Denzel Flores',
 'Alia Thornton',
 'Franklin Wright',
 'Josue Roach',
 'Lucia Mckay',
 'Steven Michael',
 'Nora Rollins',
 'Kylee Townsend',
 'Jordan Boone',
 'Jonah Higgins',
 'Ivan Hines',
 'David Rasmussen',
 'Nyla Novak',
 'Harley Fritz',
 'Kennedi Singh',
 'Sales',
 'AllData',
 'SalesData2',
 'SalesData']

In [52]:
# add at an index
ws2 = sales.create_sheet("SalesData1",1)
ws3 = sales.create_sheet("SalesData2",-1)  # insert before last

In [54]:
sales.save(filename)

In [55]:
wkb = xl.Workbook("Source.xlsx")

In [56]:
t1 = wkb.create_sheet("Test1") # insert at end
t2 = wkb.create_sheet("Test2",0) # 1st pos
t3 = wkb.create_sheet("Test3",-1) # before last

In [57]:
wkb.create_sheet("Programming")
wkb.save("Source.xlsx")
wkb.close()

In [58]:
fl= xl.load_workbook("Source.xlsx",data_only=True)

In [61]:
fl.sheetnames

['Sht1', 'Sht2', 'Sht3', 'Programming']

In [62]:
i=1
for sht in fl.sheetnames:
    if sht.startswith("T"):
        fl[sht].title ="Sht" +str(i)
        i=i+1
fl.save("Source.xlsx")
fl.close()

In [63]:
# delete worksheet
fl= xl.load_workbook("Source.xlsx",data_only=True)
print(fl.sheetnames)

['Sht1', 'Sht2', 'Sht3', 'Programming']

In [65]:
del fl['Sht1']

In [66]:
print(fl.sheetnames)

['Sht2', 'Sht3', 'Programming']

In [69]:
# get index
fl.sheetnames.index("Programming")

1

In [68]:
# move the worksheet
fl.move_sheet(sheet="Programming", offset=-1)
fl.save("Source.xlsx")

In [70]:
# copy worksheet

fl.copy_worksheet(fl['Programming'])
fl.save("Source.xlsx")

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kirti\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\kirti\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
-m install pip --upgrade pip

SyntaxError: invalid syntax (<ipython-input-5-ee925113f420>, line 1)

In [8]:
import openpyxl

In [9]:
from openpyxl import Workbook, load_workbook
from openpyxl.utils import get_column_letter

In [10]:
wb = load_workbook('Start-Data-Analysis.xlsx')

C:\Users\Kirti\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\Kirti\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [11]:
 ws= wb['Raw']

In [12]:
print(ws['b2'].value)

2022-11-07 00:00:00

In [13]:
ws['b3']='10452'

In [14]:
print(ws['b3'].value)

10452

In [15]:
wb.sheetnames

['Raw', 'Clean', 'Analysis', 'Findings']

In [16]:
wb.create_sheet('NeewSheet')

In [17]:
wb1 = Workbook()

In [18]:
ws1 = wb1.active

In [19]:
ws1.title='Data'

In [20]:
# adding data 
ws1.append(['Kirti','Sharma'])

In [21]:
wb1.save('kirt.xlsx')

In [22]:
# Loop through multiple cells

for row in range(2,11):
    for col in range(1,5):
        char = get_column_letter(col)
        print(ws[char+str(row)].value)

10452
2022-11-07 00:00:00
Fries
3.49
10453
10452
Beverages
2.95
10454
2022-11-07 00:00:00
Sides & Other
4.99
10455
2022-11-08 00:00:00
Burgers
12.99
10456
2022-11-08 00:00:00
Chicken Sandwiches
9.95
10457
2022-11-08 00:00:00
Fries
3.49
10459
2022-11-08 00:00:00
Sides & Other
4.99
10460
2022-11-09 00:00:00
Burgers
12.99
10461
2022-11-09 00:00:00
Chicken Sandwiches
9.95

In [23]:

for row in range(2,11):
    for col in range(1,5):
        char = get_column_letter(col)
        ws1[char+str(row)]= char +str(row)
        print(ws1[char+str(row)].value)

A2
B2
C2
D2
A3
B3
C3
D3
A4
B4
C4
D4
A5
B5
C5
D5
A6
B6
C6
D6
A7
B7
C7
D7
A8
B8
C8
D8
A9
B9
C9
D9
A10
B10
C10
D10

In [24]:
wb1.save('kirt.xlsx')

In [25]:
ws1.merge_cells("a1:d1")

In [26]:
ws1.unmerge_cells("a1:d1")

In [27]:
# insert after row 7
ws1.insert_rows(7)

In [28]:
ws1.delete_rows(7)

In [30]:
# insert at 2
ws1.insert_cols(2)

In [31]:
ws1.move_range("b1:c10",rows=2,cols=10)

In [32]:
import pandas as pd

In [33]:
df = pd.read_excel(r'Start-Data-Analysis.xlsx',engine='openpyxl')

In [34]:
# df.sheetnames

In [35]:
results = df.columns

In [36]:
results

Index(['Order ID', 'Date', 'Product', 'Price', 'Purchase Type',
       'Payment Method', 'Manager2', 'City', 'Quantity2', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [37]:
results = df.iloc[:2]
results

,Order ID,Date,Product,Price,Purchase Type,Payment Method,Manager2,City,Quantity2,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,10452,2022-11-07,Fries,3.49,Online,Gift Card,Tom Jackson,London,574,NaN,NaN,NaN
1,10453,2022-11-07,Beverages,2.95,Online,Gift Card,Pablo Perez,Madrid,746,NaN,NaN,NaN

In [38]:
results = df.iloc[:2,2:6]
results

     Product  Price Purchase Type Payment Method
0      Fries   3.49       Online       Gift Card
1  Beverages   2.95       Online       Gift Card

In [39]:
results = df[df['Product'].str.match('Fries')]
results

,Order ID,Date,Product,Price,Purchase Type,Payment Method,Manager2,City,Quantity2,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,10452,2022-11-07,Fries,3.49,Online,Gift Card,Tom Jackson,London,574,NaN,NaN,NaN
5,10457,2022-11-08,Fries,3.49,In-store,Credit Card,Remy Monet,Paris,574,NaN,NaN,NaN
9,10462,2022-11-09,Fries,3.49,In-store,Credit Card,Remy Monet,Paris,574,NaN,NaN,NaN
14,10467,2022-11-10,Fries,3.49,In-store,Credit Card,Pablo Perez,Madrid,574,NaN,NaN,NaN
18,10472,2022-11-11,Fries,3.49,In-store,Credit Card,Pablo Perez,Madrid,631,NaN,NaN,NaN
23,10477,2022-11-12,Fries,3.49,In-store,Credit Card,Pablo Perez,Madrid,631,NaN,NaN,NaN
28,10482,2022-11-13,Fries,25.50,In-store,Credit Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
33,10487,2022-11-14,Fries,3.49,In-store,Credit Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
38,10492,2022-11-15,Fries,3.49,In-store,Credit Card,Pablo Perez,Madrid,574,NaN,NaN,NaN
43,10497,2022-11-16,Fries,3.49,In-store,Credit Card,Pablo Perez,Madrid,574,NaN,NaN,NaN
48,10502,2022-11-17,Fries,3.49,Drive-thru,Credit Card,Pablo Perez,Madrid,631,NaN,NaN,NaN
53,10507,2022-11-18,Fries,3.49,Drive-thru,Credit Card,Pablo Perez,Madrid,688,NaN,NaN,NaN
58,10512,2022-11-19,Fries,3.49,Drive-thru,Credit Card,Joao Silva,Lisbon,688,NaN,NaN,NaN
68,10522,2022-11-21,Fries,3.49,Drive-thru,Cash,Remy Monet,Paris,688,NaN,NaN,NaN
73,10527,2022-11-22,Fries,3.49,Drive-thru,Cash,Remy Monet,Paris,688,NaN,NaN,NaN
78,10532,2022-11-23,Fries,3.49,Drive-thru,Cash,Joao Silva,Lisbon,688,NaN,NaN,NaN
83,10537,2022-11-24,Fries,3.49,Drive-thru,Credit Card,Pablo Perez,Madrid,631,NaN,NaN,NaN
88,10542,2022-11-25,Fries,3.49,Drive-thru,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
93,10547,2022-11-26,Fries,3.49,Drive-thru,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
98,10552,2022-11-27,Fries,3.49,Online,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
103,10557,2022-11-28,Fries,3.49,Online,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
108,10562,2022-11-29,Fries,3.49,Online,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
113,10567,2022-11-30,Fries,3.49,Online,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
118,10572,2022-12-01,Fries,3.49,Online,Credit Card,Remy Monet,Paris,574,NaN,NaN,NaN
123,10577,2022-12-02,Fries,3.49,Online,Credit Card,Remy Monet,Paris,631,NaN,NaN,NaN
128,10582,2022-12-03,Fries,3.49,Online,Credit Card,Tom Jackson,London,631,NaN,NaN,NaN
135,10592,2022-12-05,Fries,3.49,Online,Credit Card,Tom Jackson,London,574,NaN,NaN,NaN
140,10597,2022-12-06,Fries,3.49,Online,Credit Card,Tom Jackson,London,574,NaN,NaN,NaN
145,10602,2022-12-07,Fries,3.49,Online,Cash,Tom Jackson,London,631,NaN,NaN,NaN
150,10607,2022-12-08,Fries,3.49,Online,Cash,Tom Jackson,London,631,NaN,NaN,NaN
155,10612,2022-12-09,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
160,10617,2022-12-10,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
165,10622,2022-12-11,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
170,10627,2022-12-12,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
175,10632,2022-12-13,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
180,10637,2022-12-14,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
185,10642,2022-12-15,Fries,3.49,Online,Cash,Joao Silva,Lisbon,631,NaN,NaN,NaN
190,10647,2022-12-16,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
195,10652,2022-12-17,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,688,NaN,NaN,NaN
200,10657,2022-12-18,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,688,NaN,NaN,NaN
205,10662,2022-12-19,Fries,3.49,In-store,Cash,Joao Silva,Lisbon,631,NaN,NaN,NaN
210,10667,2022-12-20,Fries,3.49,In-store,Cash,Joao Silva,Lisbon,631,NaN,NaN,NaN
215,10672,2022-12-21,Fries,3.49,In-store,Cash,Joao Silva,Lisbon,631,NaN,NaN,NaN
220,10677,2022-12-22,Fries,3.49,In-store,Cash,Joao Silva,Lisbon,631,NaN,NaN,NaN
225,10682,2022-12-23,Fries,3.49,In-store,Cash,Joao Silva,Lisbon,631,NaN,NaN,NaN
230,10687,2022-12-24,Fries,3.49,In-store,Cash,Walter Muller,Berlin,631,NaN,NaN,NaN
235,10692,2022-12-25,Fries,3.49,In-store,Cash,Walter Muller,Berlin,631,NaN,NaN,NaN
240,10697,2022-12-26,Fries,3.49,In-store,Cash,Walter Muller,Berlin,631,NaN,NaN,NaN
245,10702,2022-12-27,Fries,3.49,In-store,Cash,Walter Muller,Berlin,631,NaN,NaN,NaN
250,10707,2022-12-28,Fries,3.49,Drive-thru,Gift Card,Walter Muller,Berlin,631,NaN,NaN,NaN
255,10712,2022-12-29,Fries,3.49,Drive-thru,Gift Card,Walter Muller,Berlin,631,NaN,NaN,NaN

In [40]:
results = df[df['Payment Method'].str.contains('Gift')]
results

,Order ID,Date,Product,Price,Purchase Type,Payment Method,Manager2,City,Quantity2,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,10452,2022-11-07,Fries,3.49,Online,Gift Card,Tom Jackson,London,574,NaN,NaN,NaN
1,10453,2022-11-07,Beverages,2.95,Online,Gift Card,Pablo Perez,Madrid,746,NaN,NaN,NaN
2,10454,2022-11-07,Sides & Other,4.99,In-store,Gift Card,Joao Silva,Lisbon,201,NaN,NaN,NaN
151,10608,2022-12-08,Beverages,2.95,Online,Gift Card,Tom Jackson,London,678,NaN,NaN,NaN
152,10609,2022-12-08,Sides & Other,4.99,Online,Gift Card,Tom Jackson,London,201,NaN,NaN,NaN
153,10610,2022-12-09,Burgers,12.99,Online,Gift Card,Tom Jackson,London,570,NaN,NaN,NaN
154,10611,2022-12-09,Chicken Sandwiches,9.95,Online,Gift Card,Tom Jackson,London,202,NaN,NaN,NaN
155,10612,2022-12-09,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
156,10613,2022-12-09,Beverages,2.95,Online,Gift Card,Tom Jackson,London,678,NaN,NaN,NaN
157,10614,2022-12-09,Sides & Other,4.99,Online,Gift Card,Tom Jackson,London,201,NaN,NaN,NaN
158,10615,2022-12-10,Burgers,12.99,Online,Gift Card,Tom Jackson,London,570,NaN,NaN,NaN
159,10616,2022-12-10,Chicken Sandwiches,9.95,Online,Gift Card,Tom Jackson,London,202,NaN,NaN,NaN
160,10617,2022-12-10,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
161,10618,2022-12-10,Beverages,2.95,Online,Gift Card,Tom Jackson,London,678,NaN,NaN,NaN
162,10619,2022-12-10,Sides & Other,4.99,Online,Gift Card,Tom Jackson,London,201,NaN,NaN,NaN
163,10620,2022-12-11,Burgers,12.99,Online,Gift Card,Tom Jackson,London,586,NaN,NaN,NaN
164,10621,2022-12-11,Chicken Sandwiches,9.95,Online,Gift Card,Tom Jackson,London,202,NaN,NaN,NaN
165,10622,2022-12-11,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
166,10623,2022-12-11,Beverages,2.95,Online,Gift Card,Tom Jackson,London,746,NaN,NaN,NaN
167,10624,2022-12-11,Sides & Other,4.99,Online,Gift Card,Tom Jackson,London,201,NaN,NaN,NaN
168,10625,2022-12-12,Burgers,12.99,Online,Gift Card,Tom Jackson,London,570,NaN,NaN,NaN
169,10626,2022-12-12,Chicken Sandwiches,9.95,Online,Gift Card,Tom Jackson,London,202,NaN,NaN,NaN
170,10627,2022-12-12,Fries,3.49,Online,Gift Card,Tom Jackson,London,631,NaN,NaN,NaN
171,10628,2022-12-12,Beverages,2.95,Online,Gift Card,Joao Silva,Lisbon,678,NaN,NaN,NaN
172,10629,2022-12-12,Sides & Other,4.99,Online,Gift Card,Joao Silva,Lisbon,201,NaN,NaN,NaN
174,10631,2022-12-13,Chicken Sandwiches,9.95,Online,Gift Card,Joao Silva,Lisbon,202,NaN,NaN,NaN
175,10632,2022-12-13,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
176,10633,2022-12-13,Beverages,2.95,Online,Gift Card,Joao Silva,Lisbon,678,NaN,NaN,NaN
177,10634,2022-12-13,Sides & Other,4.99,Online,Gift Card,Joao Silva,Lisbon,201,NaN,NaN,NaN
178,10635,2022-12-14,Burgers,12.99,Online,Gift Card,Joao Silva,Lisbon,555,NaN,NaN,NaN
179,10636,2022-12-14,Chicken Sandwiches,9.95,Online,Gift Card,Joao Silva,Lisbon,222,NaN,NaN,NaN
180,10637,2022-12-14,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
181,10638,2022-12-14,Beverages,2.95,Online,Gift Card,Joao Silva,Lisbon,678,NaN,NaN,NaN
182,10639,2022-12-14,Sides & Other,4.99,Online,Gift Card,Joao Silva,Lisbon,201,NaN,NaN,NaN
183,10640,2022-12-15,Burgers,12.99,Online,Gift Card,Joao Silva,Lisbon,539,NaN,NaN,NaN
184,10641,2022-12-15,Chicken Sandwiches,9.95,Online,Gift Card,Joao Silva,Lisbon,222,NaN,NaN,NaN
190,10647,2022-12-16,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,631,NaN,NaN,NaN
191,10648,2022-12-16,Beverages,2.95,Online,Gift Card,Joao Silva,Lisbon,746,NaN,NaN,NaN
192,10649,2022-12-16,Sides & Other,4.99,Online,Gift Card,Joao Silva,Lisbon,201,NaN,NaN,NaN
193,10650,2022-12-17,Burgers,12.99,Online,Gift Card,Joao Silva,Lisbon,586,NaN,NaN,NaN
194,10651,2022-12-17,Chicken Sandwiches,9.95,Online,Gift Card,Joao Silva,Lisbon,222,NaN,NaN,NaN
195,10652,2022-12-17,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,688,NaN,NaN,NaN
196,10653,2022-12-17,Beverages,2.95,Online,Gift Card,Joao Silva,Lisbon,746,NaN,NaN,NaN
197,10654,2022-12-17,Sides & Other,4.99,Online,Gift Card,Joao Silva,Lisbon,201,NaN,NaN,NaN
198,10655,2022-12-18,Burgers,12.99,Online,Gift Card,Joao Silva,Lisbon,601,NaN,NaN,NaN
199,10656,2022-12-18,Chicken Sandwiches,9.95,Online,Gift Card,Joao Silva,Lisbon,222,NaN,NaN,NaN
200,10657,2022-12-18,Fries,3.49,Online,Gift Card,Joao Silva,Lisbon,688,NaN,NaN,NaN
246,10703,2022-12-27,Beverages,2.95,In-store,Gift Card,Walter Muller,Berlin,678,NaN,NaN,NaN
247,10704,2022-12-27,Sides & Other,4.99,Drive-thru,Gift Card,Walter Muller,Berlin,201,NaN,NaN,NaN
248,10705,2022-12-28,Burgers,12.99,Drive-thru,Gift Card,Walter Muller,Berlin,724,NaN,NaN,NaN
249,10706,2022-12-28,Chicken Sandwiches,9.95,Drive-thru,Gift Card,Walter Muller,Berlin,302,NaN,NaN,NaN
250,10707,2022-12-28,Fries,3.49,Drive-thru,Gift Card,Walter Muller,Berlin,631,NaN,NaN,NaN
251,10708,2022-12-28,Beverages,2.95,Drive-thru,Gift Card,Walter Muller,Berlin,678,NaN,NaN,NaN
252,10709,2022-12-28,Sides & Other,4.99,Drive-thru,Gift Card,Walter Muller,Berlin,201,NaN,NaN,NaN
253,10710,2022-12-29,Burgers,12.99,Drive-thru,Gift Card,Walter Muller,Berlin,755,NaN,NaN,NaN
254,10711,2022-12-29,Chicken Sandwiches,9.95,Drive-thru,Gift Card,Walter Muller,Berlin,282,NaN,NaN,NaN
255,10712,2022-12-29,Fries,3.49,Drive-thru,Gift Card,Walter Muller,Berlin,631,NaN,NaN,NaN
256,10713,2022-12-29,Beverages,2.95,Drive-thru,Gift Card,Walter Muller,Berlin,678,NaN,NaN,NaN

In [41]:
results = df.groupby('Product')
results.get_group("Fries").mean()

<ipython-input-41-b7e6c56b1fd2>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  results.get_group("Fries").mean()

Order ID       10583.176471
Price              3.921569
Quantity2        628.764706
Unnamed: 9              NaN
Unnamed: 10             NaN
Unnamed: 11             NaN
dtype: float64

In [45]:
import xlwings as xw

In [47]:
wk = xw.Book(r'sample.xlsx')

In [48]:
sheet = wk.sheets('Vlookup')

In [49]:
rg = sheet.range("A1:d3")
rg.value

[['Salesperson', 'ID Number', 'Date', 'Sale Amount'],
 ['Kennedi Singh', 124300.0, datetime.datetime(2022, 7, 12, 0, 0), 5436.33],
 ['Harley Fritz', 149160.0, datetime.datetime(2022, 7, 9, 0, 0), 6197.4162]]

In [50]:
sheet.range("a20").value="hello xlwings"

In [52]:
sheet["a20"].value

'hello xlwings'

In [ ]:
import pandas as pd

# Read the first Excel file
df1 = pd.read_excel('file1.xlsx')

# Read the second Excel file
df2 = pd.read_excel('file2.xlsx')

# Concatenate the dataframes vertically
merged_df = pd.concat([df1, df2], ignore_index=True)

# Display the merged dataframe
print(merged_df)